body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-menu-item:hover {
  background-color: #6e62e5 !important;
  color: white !important;
}

.ant-typography {
  margin: 0 0 0 16px !important;
}

.ant-btn-icon {
  margin: 0 4px 0 0;
}

.ant-layout-sider-children {
  background: white;
}

.highcharts-container {
  height: 150px !important;
}
